<div class="container">
  <h1 class="mt-3">فهرست نوشته ها</h1>
  <div class="d-flex justify-content-end mt-3">
    <a class="btn btn-primary" [routerLink]="['/admin/blogposts/add']">نوشته جدید</a>
  </div>
  <div class="mt-3">
    @if(isLoading()){
    <p>در حال بارگزاری...</p>
    } @else{ @if (error()){
    <p>خطایی پیش آمده!</p>
    }@else{
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>عنوان</th>
          <th>توضیح کوتاه</th>
          <th>فعال</th>
          <th>دسته بندی</th>
        </tr>
      </thead>
      <tbody>
        @for (blogPost of value(); track blogPost.id) {
        <tr>
          <td>{{ blogPost.title }}</td>
          <td>{{ blogPost.shortDescription }}</td>
          <td>{{ blogPost.isVisible }}</td>
          <td>
            @for (category of blogPost.categories; track category.id) {
            <span class="badge bg-secondary">{{category.name}}</span>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }}
  </div>
</div>
